<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <button><input type="radio" id="plus" value="plus" v-model="MathTyp">+</button>
        <button><input type="radio" id="Minus" value="Minus" v-model="MathTyp">-</button>
        <button><input type="radio" id="Multiplied" value="Multiplied" v-model="MathTyp">*</button>
        <button><input type="radio" id="Divide" value="Divide" v-model="MathTyp">/</button>


        <template v-if="MathTyp=='plus'">
            <div>
                <label>การบวก</label><br>
                <input type="number" v-model="number1">
                +
                <input type="number" v-model="number2">
                =
                <span>{{ getplus }}</span>
            </div>
        </template>
       
        <template v-else-if ="MathTyp=='Minus'">
            <div>
                <label>การลบ</label><br>
                <input type="number" v-model="number1">
                -
                <input type="number" v-model="number2">
                =
                <span>{{ getMinus }}</span>
            </div>
        </template>

        <template v-else-if ="MathTyp=='Multiplied'">
            <div>
                <label>การคูณ</label><br>
                <input type="number" v-model="number1">
                *
                <input type="number" v-model="number2">
                =
                <span>{{ getMultiplied }}</span>
            </div>
        </template>

        <template v-else-if ="MathTyp=='Divide'" >
            <div>
                <label>การหาร</label><br>
                <input type="number" v-model="number1">
                +
                <input type="number" v-model="number2">
                =
                <span>{{ getDivide }}</span>
            </div>
        </template>

        <template v-else >
            <div>
                Please select one
            </div>
        </template>
        

    </div>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            MathTyp:'',
            loveLis:[],
            number1:0,
            number2:0,
            result:0
        },
        computed: {
            getplus: function(){
                return parseInt(this.number1)+parseInt(this.number2);
            },
            getMinus: function () {
                return parseInt(this.number1)-parseInt(this.number2);
            },
            getMultiplied: function () {
                return parseInt(this.number1)*parseInt(this.number2);
            },
            getDivide: function () {
                return parseInt(this.number1)/parseInt(this.number2);
            }
         },
        watch: {
           
            
        },
    });
</script>
    
</body>
</html>